{% extends "base.html" %} 
{% block title %}Signup - {% endblock %} 
{% block head %} 
{{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %} {% block content %}
<div class="col-md-4 col-md-offset-4">
  <form method="POST" action="/signup">
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to
      <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %} {% endwith %}
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter full name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="reg_no">Registration Number</label>
      <input
        type="text"
        class="form-control"
        id="reg_no"
        name="reg_no"
        placeholder="Enter registration number"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
<!--  beware  -   this code was added later   -     could lead into errors -->
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        name="confirm-password"
        placeholder="Confirm Password"
      />
    </div>
    <button type="submit" class="btn btn-primary" onclick="return Validate()">Sign Up</button>
  </form>
</div>
<script type="text/javascript">
  function Validate() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirm-password").value;
      if (password != confirmPassword) {
          alert("Passwords do not match.");
          return false;
      }
      return true;
  }
</script>
<!--  beware  -->
{% endblock %}

